@page "/"
@using System.ComponentModel.DataAnnotations

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

Type in more then 4 characters and press submit to invalidate the input
then inspect the generated HTML

<EditForm Model=this>
    <DataAnnotationsValidator />
    <ValidationSummary />
    <InputText @bind-Value=Text />
    <button type="submit">Submit</button>
</EditForm>

<h5>Element below should not show as invalid in screen reader</h5>
<input class="invalid" type="text" placeholder="should not say invalid input" aria-invalid />

<h5>Element below should show as invalid in screen reader</h5>
<input class="invalid" type="text" placeholder="should say invalid input" aria-invalid="true" />

@Text

@code {
    [StringLength(4, ErrorMessage = "Identifier too long (4 character limit).")]
    public string Text { get; set; }
}
